
<nav>
    <h3 >Rent app</h3>
    
</nav>



<h2 class="motto">Selling or letting, we offer more than any other local estate agent</h2>

<main>
    
        <form class="create-button" action="/createAd" method="GET">
            <button class="btn">Create ad</button>
        </form>
        <form action="/ads" class="show-button" method="GET">
            <button class="btn">View ads</button>
        </form>
    
</main>